.services_title{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        color: #0D4C93;   
    }
    p{
        color: #0D4C93;
        span{
            color: #000;
        }
    }
}
.services_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    .content{
        width: 320px;
        height: 332px;
        top: 862px;
        left: 1209px;
        border-radius: 35px;
        align-items: center;
        margin: 25px;
        background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 100%);
        img{
           margin-left: 60px;
        }
        p{
            text-align: center;
             width: 300px;
        }
    }
}
.off{
    p{
        margin-top: 50px;
    }
    img{
        margin-top: 25px;
        margin-left: 25px;
    }
}
.on{
    p{
        margin-top: 50px;
    }
}