.Hero{
    position: relative;
}
.hero_background{
    width: 100%;
    height: 980px;
    position: absolute;
    z-index: -1;
    margin-top: -352px;
}
.hero_inner{
    .hero_slider{
        margin-top: 119px;
    }
}