.Hero{
    position: relative;
}
.hero_background{
    width: 100%;
    height: 1067px;
    position: absolute;
    z-index: -1;
    margin-top: -352px;
    object-fit: cover;
}
.hero_inner{
    .hero_slider_father{
        width: 2005px ;
        margin-left: -384px;
        overflow: hidden;
        height: 668px;
        .hero_slider{
            width: 4033px !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 119px;
            margin-left: 266px;
            .swiper {
                margin-left: -73px;
                width: 1407px;
                overflow: visible;
              }
              .swiper-wrapper{
                height: 900px !important;
              }
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent;
                width: 1407px;
                margin-left: -182px;
                margin-right: 324px;
              }
              
              .swiper-slide-active{
                background: transparent;
                width: 1407px;
                flex-grow: 1;
                margin-right: 234px;
                margin-left: 118px;
              }
              .swiper-slide-prev{
                background: transparent;
                margin-left: -305px;
                margin-right: 185px;
              }
              .swiper-slide-next{
                margin-left: 500px;
              }
              .swiper-pagination{
                margin-bottom: -71px !important;
                margin-left: 131px;
                .swiper-pagination-bullet-active{
                    background-color: rgba(0, 201, 201, 1) !important;
                }
                .swiper-pagination-bullet{
                    width: 15px;
                    height: 15px;
                    background: #fff;
                    border: 2px solid #00C9C9;
                }
              }
            .hero_left{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1{
                    color: #0D4C93;
                    font-size: 52px;
                    font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 4.5px;
                margin-left: -50px;
                width: 452px;
                span{
                    margin-left: 27px;
                    letter-spacing: 5px;
                }
            }
            p{
                margin-left: 7px;
                margin-top: 31px;
                color: #363535;
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                width: 715px;
                text-align: left;
            }
            button{
                margin-left: -455px;
                padding: 21px 74px;
                border-radius: 35px;
                opacity: 0.9;
                background: linear-gradient(90deg, #0D4C93 0%, #00C9C9 100%);
                border: none;
                color: #fff;
                margin-top: 43px;
            }
        }
    }
}
}
@media screen and (max-width: 1670px){
  .hero_slider_father{
    width: 1870px !important;
  }
}
@media screen and (max-width: 1560px){
  .hero_inner {
    .hero_slider_father{
      max-width: 1810px;
      .hero_slider {
        margin-left: 346px;
        transition: 300ms;
        .hero_left{
          .hero_left_top{
            // margin-left: -30px;
            h1{
              font-size: 42px;
              margin-left: -80px;
            }
            p{
              margin-left: 7px;
              font-size: 22px;
              width: 607px;
            }
            button{
              padding: 17px 54px;
              margin-left: -400px;
            }
          }
        }
        .swiper-slide-prev{
          margin-right: 308px;
        }
    }
    }

  }
}

@media screen and (max-width: 1400px){
  .hero_inner {
    .hero_slider_father{
      max-width: 1687px ;
      .hero_slider {
        margin-left: 300px;
        transition: 300ms;
        .hero_left{
          .hero_left_top{
            // margin-left: -30px;
            h1{
              font-size: 35px;
              margin-left: -20px;
              width: 290px;
            }
            p{
              margin-left: 7px;
              font-size: 18px;
              width: 527px;
              font-weight: 500;
            }
            button{
              padding: 17px 54px;
              margin-left: -314px;
              transition: 300ms;

            }
          }
          .hero_right{
            img{
              object-fit: cover;
              width: 590px;
              // height: 400px;
            }
          }
        }
        .swiper-slide-prev{
          margin-right: 308px;
        }
    }
    }

  }
}


@media screen and (max-width: 1250px){
  .hero_background{
    margin-top: -462px;
    height: 1120px;
  }
  .hero_inner {
    .hero_slider_father{
      max-width: 1125px ;
      .hero_slider {

        margin-left: -65px;
        transition: 300ms;
        margin-top: 60px;
        .hero_left{
          .hero_left_top{
            // margin-left: -30px;
            h1{
              font-size: 35px;
              margin-left: -20px;
              width: 290px;
            }
            p{
              margin-left: 7px;
              font-size: 18px;
              width: 527px;
              font-weight: 500;
            }
            button{
              padding: 17px 54px;
              margin-left: -314px;
              transition: 300ms;

            }
          }
          .hero_right{
            img{
              display: none;
            }
          }
        }
        .swiper-slide-prev{
          margin-right: 308px;
        }
    }
    }

  }
}

@media screen and (max-width: 375px){
  
}