.frame__title1 {
    color: #0D4C93;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.frame__con {
    width: 1460px;
    height: 681px;
}



.frame__1 {
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(250, 250, 250, 0) 100%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-left: -271px !important;
    background-image: url(../../assets/img/uslugiBlur.png);

    .swiper {
        height: 700px !important;
    }

    .swiper-slide img {
        width: 100%;
        height: 259px;
    }

    .swiper-slide {
        border-radius: 50px;
        background: #FFF;
        text-align: center;
    }

    .swiper__1 {
        overflow: hidden;
    }

    .swiper-backface-hidden .swiper-slide {

        background: transparent;
    }



}

.item__1 {
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
    width: 388px;
    height: 491px;
    flex-shrink: 0;
    text-align: center;
    margin-top: 290px;

    img {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    .item__1__text__1 {
        color: #0D4C93;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.3px;
        margin-top: 22px;
    }

    .item__1__text__2 {
        width: 305px;
        height: 110px;
        flex-shrink: 0;
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin-left: 43px;
        margin-top: 14px;
    }

    .item__1__btn__1 {
        width: 270px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 35px;
        opacity: 0.9;
        background: linear-gradient(90deg, #0D4C93 0%, #00C9C9 100%);
        border: none;
        margin-top: 22px;
    }
}

@media (max-width: 865px) {
    .item__1 {
        width: 314px;
        height: 511px;
        padding-left: 10px;
        padding-right: 10px;
        img {
            width: 394px;
            height: 259px;
        }
        p{
            margin-left: -1px !important;
        }
    }
}

@media (max-width: 704px)  {
    .item__1 {
        width: 294px;
        height: 511px;
        padding-left: 19px;
        padding-right: 10px;
        img {
            width: 394px;
        }
        p{
            margin-left: -1px !important;
            max-width: 250px;
        }
    }
}

@media (max-width: 662px)  {

    .frame__1{

        .item__1 {
            border-radius: 50px;
            width: 388px;
            height: 491px;
            text-align: center;
            margin-top: 290px;
            p{
                width: 405px;
                flex-shrink: 0;
                color: #000;
                text-align: center;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 24px;
                margin-left: 50px !important;
            }
        }
    }

}