.nav_inner{
    margin-left: -90px;
    .nav{
        .nav_list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1575px;
            margin-top: 50px;
            .nav_list_item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 205px;
                .nav_location{
                    border-radius: 25px;
                    background-color: white;
                    padding: 13px 12px;
                    
                }
                .nav_list_item_address{
                    line-height: 7px;
                    margin-top: 11px;
                }
                .header_phone{
                    background-color: #fff;
                    padding: 14px 15px;
                    border-radius: 25px;
                    margin-left: 41px;
                }
                .nav_list_item_phone{
                    line-height: 7px;
                    margin-top: 11px;
                    margin-left: 20px;
                }
                .nav_search{
                    border-radius: 25px;
                    background: #FFF;
                    padding: 12px;
                    margin-left: 116px;
                }
                .nav_facebook{
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 25px;
                    background: #FFF;
                    padding:0px 19px 0px 10px;
                    p{
                        margin-left: 10px;
                        margin-top: 15px;
                    }
                }
                .nav_btnLanguage{
                    padding: 0px 15px 0px 10px;
                    border-radius: 25px;
                    background: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .nav_btn_languagename{
                        margin-left: 10px;
                        margin-top: 18px;
                    }
                }
            }
            .nav_calll{
                width: 250px;
            }
            .header_logo{
                margin-left: 110px;
            }
            .hero_navbar_responsive{
                display: none;
            }
        }
    }
    .nav_bottom{
        margin-top: 48px;
        .nav_bottom_list{
            opacity: 0.9;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav_bottom_item1{
                border-radius: 35px 0px 0px 35px;
                padding: 24px 50px 16px 49px;
                background: #FFF;

            }
            .nav_bottom_item6{
                border-radius: 0px 35px 35px 0px;
            }
            li{
                padding: 24px 50px 16px 49px;
                background: #FFF;
                a{
                    color: #0D4C93;
                }
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .nav_bottom_itemO{
                a{
                    color: #00C9C9;
                }
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    padding: 5px;
                    background-color: #00c9c9;
                    border-radius: 50%;
                    position: absolute;
                    margin-left: 200px;
                    margin-top: -13px;
                }
            }
        }
    }
}
@media screen and (max-width: 1560px){
    .nav_list{
        margin-left: 100px;
        transition: 500ms ease;
        .nav_list_item{
            // max-width: 120px;
            // display: block;
            .nav_location{
                // flex-grow: 1;
                margin-left: 20px;
            }
            .nav_list_item_address{
                font-size: 14px;
                
            }
        }
        .header_logo{
            flex-grow: 1;
            margin-right: -96px;
            margin-left: 42px !important;
        }
        .nav_calll{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 234px;
            .nav_list_item_phone{
                font-size: 14px;
            }
            
        }
    }
    .nav_bottom{
        margin-left: 130px;
        transition: 500ms ease;
        .nav_bottom_list{
            width: 1220px;
            transition: 500ms;
            .nav_bottom_item1{
                padding: 15px 40px 15px 40px !important;
                
            }
            .nav_bottom_item6{
                border-radius: 0px 35px 35px 0px;
            }
            li{
                padding: 15px 40px 15px 40px !important;
                background: #FFF;
                font-size: 17px !important;
            a{
                color: #0D4C93;
            }
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .nav_bottom_itemO{
            a{
                color: #00C9C9;
            }
            span{
                padding: 4px !important;
                margin-left: 162px !important;
                margin-top: -4px !important;
            }
        }
    }
    }
}


@media screen and (max-width: 1400px){
    .nav_list{
        margin-left: 154px;
        transition: 500ms ease;
        max-width: 1195px !important;
        .nav_list_item{
            // max-width: 120px;
            display: block;
            .nav_facebook{
                height: 50px;
                padding: 0px 10px 0px 8px !important;
                margin-left: -10px;
            }
            .nav_btnLanguage{
                margin-left: -30px;
                height: 50px;
                padding: 0px 10px 0px 8px !important;
            }
            .nav_search{
                margin-left: 129px !important;
            }
            .nav_location{
                // flex-grow: 1;
                margin-left: 35px;
                padding: 10px 10px !important;  
            }
            .nav_list_item_address{
                font-size: 11px;
                letter-spacing: 1px;
                font-weight: 500;
                margin-right: -27px;
            }
        }
        .header_logo{
            flex-grow: 1;
            margin-right: -116px;
            margin-left: 42px !important;
        }
        .nav_calll{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 214px;
            .header_phone{
                margin-left: 45px !important;
                padding: 10px 10px !important;
            }
            .nav_list_item_phone{
                font-size: 11px;
                font-weight: 500;
                // letter-spacing: 1px;
                // margin-left: -12px;
            }
            
        }
    }
    .nav_bottom{
        margin-left: 190px;
        transition: 500ms ease;
        .nav_bottom_list{
            width: 1085px;
            transition: 500ms;
            .nav_bottom_item1{
                padding: 10px 30px 10px 30px !important;
                
            }
            .nav_bottom_item6{
                border-radius: 0px 35px 35px 0px;
            }
                li{
                    padding: 10px 30px 10px 30px !important;
                    background: #FFF;
                    font-size: 17px !important;
                a{
                    color: #0D4C93;
                }

            }
        .nav_bottom_itemO{
            a{
                color: #00C9C9;
            }
            span{
                padding: 4px !important;
                margin-left: 162px !important;
                margin-top: -4px !important;
            }
        }
    }
    }
}

@media screen and (max-width: 1250px){
        .responsive_navbar{
            display: block !important;
            margin-left: 502px;
            margin-top: 0px !important;
            position: relative;
            .nav_bottom_list{
                flex-direction: column;
                background: #fff;
                border-radius: 10px;
                height: 276px;
                padding: 10px;
                width: 400px;
                position: absolute;
                z-index: 99;
                opacity: 1 !important;
                li{
                    background: none !important;
                    font-size: 17px !important;
                 a{
                     color: #0D4C93;
                 }
                
                }
                :nth-child(3){
                    margin-left: -214px;
                }
                :nth-child(4){
                    margin-left: -250px;
                }
                :nth-child(5){
                    margin-left: -151px;
                }
            }
            .nav_bottom_item1{
                margin-left: -244px !important;
            }
            .nav_bottom_itemO{
                margin-left: -206px !important;
            }
            .nav_bottom_item6{
                margin-left: -173px !important;
            }
    }
    .nav_list{
        margin-left: 154px;
        transition: 500ms ease;
        // max-width: 694px !important;
        max-width: 1195px !important;
        .hero_navbar_responsive{
            display:block !important;
            margin-left: -70px;
        }
        .nav_list_item{
            display: block;
            .nav_facebook{
                display: none !important;
            }
            .nav_btnLanguage{
                margin-left: -30px;
                height: 50px;
                padding: 0px 10px 0px 8px !important;
                transition: 500ms ease;
            }
            .nav_search{
                margin-left: 321px  !important;
                transition: 500ms ease;

            }
            .nav_location{
                // flex-grow: 1;
                margin-left: 261px;
                padding: 10px 10px !important;  
                transition: 500ms ease;

            }
            .nav_list_item_address{
                display: none;
            }
        }
        .header_logo{
            flex-grow: 1;
            margin-right: -116px;
            margin-left: -471px  !important;
            transition: 500ms ease;

        }
        .nav_calll{
            .header_phone{
                margin-left: 104px !important;
                transition: 500ms ease;

            }
            .nav_list_item_phone{
                display: none;
            }
            
        }
    }

    .nav_bottom{
        display: none ;
    }
}

@media screen and (max-width: 768px){
    .nav_list{
        // width: 500px;
        .nav_list_item{
            .nav_location{
                margin-left: 216px;
            }
            .nav_search{
                margin-left: 269px !important;
                padding: 10px !important;
            }
            .nav_btnLanguage{
                margin-left: -105px !important ;
            }
        }
        .nav_calll{
            .header_phone{
                margin-left: 55px !important;
            }
        }
        .hero_navbar_responsive{
            display:block !important;
            margin-left: -238px;
        }
    }
    .nav_btnLanguage{
       
        margin-left: -50px !important;
        height: 50px;
        padding: 0px 10px 0px 8px !important;
        transition: 500ms ease;
        .nav_btn_languagename{
            display: none;
        }
    }
}

@media screen and (max-width: 375px){
    .nav_list{
        margin-left: 421px;
        max-width: 19px !important;
        .nav_list_item{
            .nav_location{
                display: none;
            }
            .nav_search{
                display: none;
            }
            .nav_btnLanguage{
                padding: 0px 2px 0px 2px !important;
                margin-left: -183px !important;
                img{
                    width: 30px;
                }
            }
        }
        .hero_navbar_responsive{
            // margin-left: -12px;
            img{
                width: 50px;
                margin-right: 42px;
            }
        }
        .header_logo{
            margin-left: -505px !important;
            
            img{
                width: 100px;
            }
        }
        .nav_calll{
            margin-left: -276px;
            position: absolute;
        }
    }
}
