.Analyzer {
  padding-top: 63px;
}
.analyzer__top {
  display: flex;
  justify-content: space-between;
  .analyzer__top__one {
    h2 {
      color: #0d4c93;
      font-family: Roboto;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .analyzer__top__two {
    display: flex;
    a {
      color: #00c9c9;
      text-align: right;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      letter-spacing: 1.8px;
      text-decoration-line: underline;
    }
    p {
      color: #000;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 1.8px;
    }
  }
}
.analyzer__list {
    padding-top: 113px;
    gap: 50px;
    text-align: center;
  display: flex;
  flex-wrap: wrap;
  .analyzer__item {
    text-align: center;
    width: 397px;
    height: 443px;
    img {
      width: 234px;
      height: 176px;
      overflow: hidden;
    }
  }
  .analyzer__side {
    display: flex;
    padding-left: 90px;
    padding-top: 10px;
    p {
      color: #5a5a5a;
      text-align: center;
      font-family: Roboto;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.3px;
    }
    span {
      color: #0d4c93;
      font-family: Roboto;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.3px;
    }
  }
  .analyzer__manufacturer {
    padding-left: 60px;
    display: flex;
    p {
        
      color: #5a5a5a;
      font-family: Roboto;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.3px;
    }
    span {
      color: #0d4c93;
      font-family: Roboto;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.3px;
    }
  }
  .bottom__btn{
    border: none;
    padding-top: 27px;
  }
  .bottom{
border-radius: 35px;
opacity: 0.9;
background: linear-gradient(90deg, #0D4C93 0%, #00C9C9 100%);
padding: 24px 82px;
color: #fff;
&:hover{
    background-color: aqua;
}

  }
}
.analyzer__name {
    width: 394px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.52px;
}
