* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background_img {
  background-image: url('../../assets/img/footer_img.png');
  width: 100%;
  height: auto;
  border: solid 1px grey;
  padding: 50px 0px;
}

.left_box {
  display: flex;
  flex-direction: column;
}

.left_top_box {
  display: flex;
  flex-direction: column;
}

.a_inner {
  display: flex;
  align-items: center;
  gap: 15px;
}

.column_a {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.column_b {
  display: flex;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.boxive {
  width: 75px;
}

.first_text_box_in {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}







.first_text {
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #595959;
}

.footer_icon {
  margin-top: -15px;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
}

.btn {
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(90deg, #0D4C93 0%, #00C9C9 100%);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}














.left_bottom_box {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
  flex-wrap: wrap;
}

.max_text {
  width: 442px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #585858;
}
.relate_box_b{
  display: none;
}

















@media screen and (max-width:740px) {
  .column_a {
    gap: 20px;
    // display: flex;
    // align-items: start;
    // justify-content: start;
    // flex-direction: column;
  }

  .column_b {
    margin-top: 30px;
    gap: 20px;
    // display: flex;
    // align-items: start;
    // justify-content: start;
    // flex-direction: column;
  }

  .first_text_box_in {
    display: flex;
    gap: 20px;
  }

  .boxive {
    width: 125px;
  }


}

@media screen and (max-width:712px) {
  .relate_box_a{
    display: none;
  }
  .relate_box_b{
    display: block;
  }
  .max_text{
    margin-top: -20px;
  }
}

@media screen and (max-width:625px) {
  .boxive {
    display: none;
  }
}