*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// .container{
//   max-width: 1366px !important;
//   margin: 0 auto !important;
//   padding: 0px 10px !important;
// }
ul,ol{
  list-style-type: none;
  a{
    text-decoration: none;
  }
}