.analyzerD__top {
  display: flex;
  justify-content: space-between;
  h2 {
    color: #0d4c93;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .analyzerD__top__two {
    padding-bottom: 69px;
    width: 368px;
    span {
        a{
            color: #000;
            text-decoration: none;
            &:hover{
                color: #00c9c9;
                text-decoration-line: underline;
            }
        }
      text-align: right;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      letter-spacing: 1.8px;
      
    }
  }
}

.big {
  display: flex;

  width: 1360px;
  height: 534px;
  flex-shrink: 0;
  border-radius: 35px;
  opacity: 0.9;
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);

  .analyzerD__item__left {
    margin-top: 96px;
    margin-left: 59px;
    width: 450px;
    height: 400px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 60%;
    }
  }
}
.analyzerD__item__right {
  padding-left: 121px;
  padding-top: 74px;
  .side {
    display: flex;
    color: #5a5a5a;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
    span {
      color: #0d4c93;
      font-family: Roboto;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.3px;
    }
  }
  .category {
    padding-top: 30px;
    display: flex;
    color: #5a5a5a;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
    span {
      color: #0d4c93;
      font-family: Roboto;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.3px;
    }
  }
  .manufacturer {
    padding-top: 30px;
    display: flex;
    color: #5a5a5a;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
    padding-bottom: 30px;
    span {
      color: #0d4c93;
      font-family: Roboto;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.3px;
    }
  }
  .info__Anal {
    color: #5a5a5a;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
  }
  .button__price {
    padding-top: 45px;
    display: flex;
    gap: 15px;
    .button__price__one {
      button {
        border-radius: 35px;
        opacity: 0.9;
        background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
        padding: 16px 60px;
        border: none;
        color: #fff;
      }
    }
    .button__price__two {
      button {
        border-radius: 35px;
        opacity: 0.9;
        background: linear-gradient(
          180deg,
          #f8f8f8 0%,
          rgba(248, 248, 248, 0) 100%
        );
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        padding: 16px 60px;
        border: 1px solid #0d4c93;
        color: #0d4c93;
        color: #0d4c93;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .button__send {
    display: flex;
    padding-top: 30px;
    button {
      position: relative;
      background-color: transparent;
      border: none;
      display: flex;
      padding: 24px 48.667px 23px 47px;
      padding-right: 410px;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background: #fff;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      flex-shrink: 0;
    }
    span {
      position: absolute;
      right: 48px;
    }
  }
}
.analyzerD__item__bottom {
  padding-top: 48px;
  
  .analyzerD__item__bottom__button {
    .analyzerD__item__bottom__button1 {
      button {
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 20px 100px;
        border-radius: 25px;
        opacity: 0.9;
        background: #0d4c93;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        border: none;
        font-size: 26px;
      }
    }
    .analyzerD__item__bottom__button2 {
      button {
        color: #5a5a5a;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 20px 100px;
        border-radius: 25px;
        opacity: 0.9;
        background: #f9f9f9;

        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        border: none;
        font-size: 26px;
        margin-left: 40px;
      }
    }
  }
  .analyzerD__item__bottom__info {
    padding-top: 51px;
    padding-bottom: 700px;
    color: #5a5a5a;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.1px;  
  }
}
.analyzerD__item__bottom__info__list{
    position: relative;
    li{
        padding-left: 30px !important;
        &::after{
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #000;
            display: block;
            position: absolute;
            left: 45px;
            margin-top: -18px;

        }
    }
}
@media screen and (max-width:1417px) {
  .big{
    width: 1000px;
  }
  .analyzerD__item__left{
    background-color: red;
    display: none !important;
    img{
      display: none;
    }
  }
}
@media screen and (max-width:1024px) {
  .big{
    width: 800px;
  }
}
@media screen and (max-width:834px) {
  .big{
    width: 600px;
  }
  .analyzerD__item__right{
    margin-left: -100px;
  }
}
@media screen and (max-width:636px) {
  .big{
    width: 500px;
  }
  .analyzerD__item__right{
    margin-left: -80px;
  }
  .button__price{
display: flex !important;
flex-direction: column;
align-items: center;
padding-right: 80px;
  }
  .info__Anal{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
  }
  .button__send{
    padding-top: 50px !important;
   
  }
  .analyzerD__item__bottom__button{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
   .analyzerD__item__bottom__button1{
margin-left: 110px;
   }
  }
}
@media screen and (max-width:608px) {
  .big{
    width: 400px;
  }
  .analyzerD__item__right{
    margin-left: -100px;
  }
  .button__send{
margin-left: -20px;
  }
  .info__Anal{
    width: 350px !important;
  }
  .button__price{
    display: flex !important;
    align-items: start !important;
  }
  .analyzerD__item__bottom__button{
   margin-left: -10px;
  }
  .button__send{
   width: 100px !important;
  }
}
@media screen and (max-width:200px) {
*{
  width: 190px;
  font-size: 3px;
  display: flex;
  flex-direction: column;
}
}